<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="pojo" class="com.myprojects.SpringLearningFromAPI.domain.POJO"
		scope="prototype" autowire="byName" />
	<bean name="myList" class="java.util.ArrayList" />

	<bean name="app" class="com.myprojects.SpringLearningFromAPI.App" autowire="byType"/>

</beans>